<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Microsoft.Samples.Kinect.PointingRecognition.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Microsoft.Samples.Kinect.PointingRecognition.Properties.Settings>
            <setting name="SendData" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NumObjects" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ObjectRGBThresholds" serializeAs="String">
                <value>0,0,105,73,55,166|55,51,0,200,105,12</value>
            </setting>
            <setting name="IpAddress" serializeAs="String">
                <value>172.27.162.110</value>
            </setting>
            <setting name="DataFormat" serializeAs="String">
                <value>{"op":"publish","topic":"/windows_rosbridge","msg":{"data":"out_topic:0.0:kinect_1:XXXX"}}</value>
            </setting>
        </Microsoft.Samples.Kinect.PointingRecognition.Properties.Settings>
    </userSettings>
</configuration>